<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<head>
	<title>final project</title>
</head>

<body>
	
	<h2>My Buckets</h2>
	<ul>
	<% @buckets.each do |bucket| %>
		<li><a href="/buckets/<%= bucket.name %>"><%= bucket.name %></a></li>
	<% end %>
	</ul>
</body>	
</html>
